body {
    color: rgb(0, 0, 0);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(248, 3, 20);
    padding: 20px;
    font-size: 32px;
    color: rgb(32, 60, 52);
}

section {
    background: rgb(30, 123, 18);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}